button{

    margin-top:15px;
    padding:10px 20px;
}

input{

    padding:8px;
    width:250px;
}

.stats{

    display:flex;
    gap:20px;
    margin-top:30px;
}

.stats div{

    width:180px;
    background:#eeeeee;
    padding:20px;
    border-radius:10px;
    text-align:center;
}