.container{

width:500px;

margin:auto;

padding:20px;

}

h1{

text-align:center;

color:#1976d2;

}

label{

display:block;

margin-top:15px;

font-weight:bold;

color:black;

}

h3{

color:black;

}

input,
select{

width:100%;

padding:8px;

margin:10px 0;

}

button{

padding:10px 15px;

margin:5px;

background:#1976d2;

color:white;

border:none;

cursor:pointer;

}

button:disabled{

background:gray;

}

.error{

color:red;

font-size:13px;

margin-top:5px;

}
pre{

background:#f5f5f5;

padding:15px;

border-radius:5px;

overflow:auto;

}

hr{

margin:30px 0;

}